__pycache__/
.vscode/
main*.json
outputs/
video_*.mp4
datasets/marker_sound_0/
datasets/marker_sound_1/
datasets/weighted_sound_0/
datasets/weighted_sound_1/
datasets/sound_save/
datasets/real_sound1/
datasets/real_sound2/
*.sif
*.out